#!/bin/sh

{{ if and (ne (env "REMOTE_CONTAINERS") "true") (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
if (! type brew > /dev/null 2>&1 ); then
  curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
fi
{{ end -}}
